<ion-content>
  <div id="notch" style="height: 1em;" *ngIf="androidDevice"></div>
      <div class="sparkline_wrapper"> 
        <!-- Set the sparkline wrapper div to take up about 55-57% of the screen -->

        <div class="bitcoin_data_wrapper">
          <!-- Set the bitcoin data wrapper to take up about 50% of the sparkline wrapper -->
          <!-- Add 3 divs in here, one for price, another for asset name and icon, and the last one for the chart -->
          <div *ngIf="!btcPriceLoad" style="height: 1.7em; display: flex; justify-content: center;">
            <ion-spinner name="crescent"></ion-spinner>
          </div>
          <div id="currencyPrice" (click)="addWallet()" > {{btcPrice}} </div>
          <ion-grid>
            <ion-row>
              <ion-col></ion-col>
              <ion-col class="subtextData" id="currencySubtext">Bitcoin &nbsp; <img src="../../../assets/icon/btc.png" style="height: 20px;"></ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-grid>
          <div class="chart_wrapper">
              <!-- Stick canvas in here -->
              <!-- Wrap the canvas in an *ngif that checks for the return data from the API in the component .ts file  -->
              <div style="width: 100%; height: 100%; display: flex;">
                <canvas baseChart 
                [labels]="btcChartLabels"
                [datasets]="btcChartDataset"
                [options]="btcChartsOptions"
                [colors] = "btclineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"></canvas>
              </div>
          </div>  
        </div>
        <div style="height: 1em;"></div>
        <div class="ethereum_data_wrapper">
          <!-- Set the ethereum data wrapper to take up about 50% of the sparkline wrapper -->
          <!-- Add 3 divs in here, one for price, another for asset name and icon, and the last one for the chart -->
          <div *ngIf="!ethPriceLoad" style="height: 1.7em; display: flex; justify-content: center;">
            <ion-spinner name="crescent"></ion-spinner>
          </div>
          <div id="currencyPrice" (click)="addWallet2()"> {{ethPrice}} </div>
          <ion-grid>
            <ion-row>
              <ion-col></ion-col>
              <ion-col class="subtextData" id="currencySubtext">Ethereum &nbsp; <img src="../../../assets/icon/eth.png" style="height: 20px;"></ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-grid>
            <div class="chart_wrapper">
              <!-- Stick canvas in here -->
              <!-- Wrap the canvas in an *ngif that checks for the return data from the API in the component .ts file  -->
              <div style="width: 100%; height: 100%; display: block;">
                  <canvas baseChart 
                  [labels]="ethChartLabels"
                  [datasets]="ethChartDataset"
                  [options]="btcChartsOptions"
                  [colors] = "ethlineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"></canvas>
              </div>
            </div>
        </div>
      </div> 

  <div style="height: 1em;"></div>
  
  <div class="wallet_display">
    
    <ion-grid class="wallet_title_grid">
      <ion-row>
        <ion-col id="wallets_title" size=10>Wallets</ion-col>
        <ion-col id="more_icon" size=2 (click)="showActionSheet()" matRipple> <img src="../../../assets/icon/more.svg" alt=""> </ion-col>
      </ion-row>
    </ion-grid>
    
    <div class="middle_button"  *ngIf="walletsArrayLoaded && showAddWallet && wallets.length === 0" [routerLink]="'/add-wallet'">
      <img class="animated bounceInUp" src="../../../assets/icon/create_wallet.svg" alt="">
    </div>

    <div style="height: 1em;"></div>

    <div class="wallet_swiper animated fadeIn" *ngIf="walletsArrayLoaded && wallets.length >= 1">
      <ion-slides [options]="sliderOptions">
        <ion-slide id="card" *ngFor="let wallet of wallets"
        [ngStyle]="{'background-image': wallet.wallet_type == 'Ethereum' ? 'url(../../../assets/images/cards/ethereum_card_background.svg)' : 'url(../../../assets/images/cards/bitcoin_card_background.svg)'}">
        
        <div class="slideInnerWrapper">
          <ion-grid style="height: 100%; padding: 0;">
            <ion-row style="height: 100%;">
              <ion-col style="height: 100%; padding: 0;" size="11">
              <div id="card_text_title">
                {{ wallet.wallet_name }}
                {{ wallet.wallet_balance }}
              </div>
              </ion-col>
              <ion-col style="height: 100%; padding: 0;" size="1">
                <div class="wallet_second_column">
                  <img id="wallet_arrow" src="../../../assets/icon/wallet_arrow_icon.svg">
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        
        </ion-slide>
        <ion-slide class="lastCard" (click)="goToCreateWalletPage()">
          <div class="slideInnerWrapper addWalletCard">
            <div class="innerAddWalletCard Roboto-Medium">
              <div style="height: 1.3em;"></div>
              <img src="../../../assets/icon/plus-sign.svg" alt="">
              <div style="height: 0.2em;"></div>
              <div>
                Create new wallet
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>

  </div>  
</ion-content>
