
ion-content {
    --overflow: hidden;
}
    
.sparkline_wrapper {
    height: 55%;
    width: 100%;;
    // overflow: scroll; ===== Uncomment when adding mroe graphs 
}

.bitcoin_data_wrapper {
    height: 50%;
}

.ethereum_data_wrapper {
    height: 50%;
}

#currencyPrice {
    font-family: SF-Pro-Display-Medium;
    font-size: 1.7em;
    color: #263238;
    text-align: center;
}

#currencySubtext {
    font-family: SF-Pro-Text-Semibold;
    color: #263238;
    font-size: 0.9em;
}

.gridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.subtextData {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    padding: 0;
}

.chart_wrapper {
    height: 75% !important;
}

.wallets_wrapper {
    height: 35%;
    margin: 1em;
}

.wallet_display {
    height: 90%;
    margin: 0;
}

.wallet_title_grid {
    margin: 1em;
}

#wallets_title {
    font-family: SF-Pro-Display-Semibold;
    font-size: 2em;
    color: #263238;
    padding: 0;
}

#more_icon{
    display: flex;
    justify-content: flex-end; /* align horizontal to the end, use 'center' for middle placement */
    align-items: center;
    transition: all .05s ease-in;
}

#more_icon:active {
    transform: scale(.5);
}

.middle_button {
    display: flex;
    justify-content: center; /* align horizontal to the end, use 'center' for middle placement */
    align-items: center;
    height: 30%;
    transition: all .05s ease-in;
}

.middle_button:active {
    /* font-size: 1rem; */
    transform: scale(.85);
    /* box-shadow: 0 3px 15px -2px; */
}

#card {
    height: 9em;
    width: 15em;
    min-height: 100%;
    border-radius: 15.5px;
    background-color: #263238;
    transition: all .05s ease-in;
    background-size: cover;
}

#card:active {
    /* font-size: 1rem; */
    transform: scale(.85);
    /* box-shadow: 0 3px 15px -2px; */
}

.slideInnerWrapper {
    height: 100%;
    width: 100%;
    padding: 0.5em;
}

.wallet_second_column {
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}

#wallet_arrow {
    height: 1.2em;
    transition: all .05s ease-in;
}

#wallet_arrow:active {
    transform: scale(.85);
}

#card_text_title {
    font-family: SF-Pro-Text-Semibold;
    font-size: 0.85em;
    color: white;
    text-align: start;
    margin: 0.75em;
}
