<ion-content>
  <div class="sparkline_wrapper"> 
    <!-- Set the sparkline wrapper div to take up about 50-55% of the screen -->
    
    <div class="bitcoin_data_wrapper">
      <!-- Set the bitcoin data wrapper to take up about 50% of the sparkline wrapper -->
      <!-- Add 3 divs in here, one for price, another for asset name and icon, and the last one for the chart -->
    </div>

    <div class="ethereum_data_wrapper">
      <!-- Set the ethereum data wrapper to take up about 50% of the sparkline wrapper -->
      <!-- Add 3 divs in here, one for price, another for asset name and icon, and the last one for the chart -->

    </div>
  </div>

  <div class="wallets_wrapper">
    <!-- Set the wallets wrapper div to take up about 40-45% of the screen -->
  </div>
</ion-content>
