#title {
    font-size: 1.2em;
    color: #263238;
    padding-bottom: 5px;
}

#title-address {
    font-size: 0.65em;
    color: #636363;
}

#tokens_title {
    font-size: 1.4em;
    color: #263238;
}

#centerAlignDiv > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#button {
    transition: all .05s ease-in;
}

#button:active {
    transform: scale(.85);
}