#title {
    font-size: 1.3em;
    height: 100%;  
    color: #263238;
}

#tokens_title {
    font-size: 1.4em;
    color: #263238;
}

#centerAlignDiv > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#button {
    transition: all .05s ease-in;
}

#button:active {
    transform: scale(.85);
}