
<ion-content>
    <div class="spacerDiv"></div>
    <div style="margin: 1em;">
        <ion-grid>
          <ion-row>
              
              <ion-col size="10" style="padding: 0 0 0 0;" matRipple (click)="copyAddressToClipboard()">
                  <div *ngIf="currentWalletObject" class="Roboto-Medium" id="title">{{currentWalletObject.wallet_name}}</div>
                  <div *ngIf="currentWalletObject" class="Roboto-Medium" id="title-address">{{currentWalletObject.wallet_address}}</div>
              </ion-col>
              
              <ion-col size="0.5"></ion-col>

              <ion-col size="1.5" matRipple (click)="goToHome()">
                  <ion-icon name="home" style="height: 100%; width: 100%; color: #263238;"></ion-icon>
              </ion-col>
              
          </ion-row>
        </ion-grid>
    </div>
    
    <!-- Loader div until the ETH Data loads -->
    <div *ngIf="!showWalletObject">
        <ion-item lines="none">
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
              </p>
            </ion-label>
            <ion-label slot="end" text-wrap style="text-align: end;">
              <h3>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              </p>
            </ion-label>
        </ion-item>
    </div>

    <div *ngIf="showWalletObject">
        <ion-item button lines="none">
            <ion-avatar slot="start">
              <img src="../../../../assets/icon/eth.svg">
            </ion-avatar>
            <ion-label text-wrap>
              <ion-text>
                <h3>Ethereum</h3>
              </ion-text>
              <p>{{etherDisplayPrice}}</p>
            </ion-label>
            <ion-label text-wrap slot="end" style="text-align: right;">
                <ion-text color="primary">
                  <h3>{{usdDisplayPrice}}</h3>
                </ion-text>
                <ion-text color="primary">
                  <p>You own {{ethereumObject.walletBalance}} ETH</p>
                </ion-text>
              </ion-label>
        </ion-item>
    </div>

    <div style="margin: 0 0 0 0;">
      <ion-grid>
        <ion-row>
          <ion-col style="padding: 0.5em 0 0 0;">
            <div id="centerAlignDiv" (click)="goToSend()">
              <img id="button" src="../../../../assets/icon/send.svg" alt="">
            </div>
          </ion-col>
          <ion-col style="padding: 0.5em 0 0 0;">
            <div id="centerAlignDiv" (click)="goToReceive()">
              <img id="button" src="../../../../assets/icon/receive.svg" alt="">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>


    <div style="margin: 1em 1em 0.5em 1em;" class="Roboto-Medium" id="tokens_title">Tokens</div>

    <div *ngIf="!showTokensForAddress">
      <ion-list>
        <ion-item lines="none">
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
              </p>
            </ion-label>
            <ion-label slot="end" text-wrap style="text-align: end;">
              <h3>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              </p>
            </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
              </p>
            </ion-label>
            <ion-label slot="end" text-wrap style="text-align: end;">
              <h3>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              </p>
            </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
              </p>
            </ion-label>
            <ion-label slot="end" text-wrap style="text-align: end;">
              <h3>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
              </p>
            </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="animated fadeIn" *ngIf="showTokensForAddress">
      <ion-list>
        <ion-item *ngFor="let token of tokensArray" button lines="none">
            <ion-avatar slot="start">
                <ion-img [src]="token.tokenLogo" (ionError)="loadOtherSymbol($event)"></ion-img>
            </ion-avatar>
            <ion-label text-wrap style="margin-right: 0;">
              <ion-text>
                <h3> {{token.tokenSymbol}} </h3>
              </ion-text>
              <p>{{token.tokenPriceDisplay}}</p>
            </ion-label>
            <ion-label text-wrap slot="end" style="text-align: right; margin-left: 0;">
                <ion-text color="primary">
                  <h3>{{token.totalBalanceDisplay}}</h3>
                </ion-text>
                <ion-text color="primary">
                  <p>You own {{token.tokenBalance}} {{ token.tokenSymbol }}</p>
                </ion-text>
            </ion-label>
        </ion-item>
      </ion-list>
    </div>

    
</ion-content>
