

<ion-content padding>
    <div>
        <ion-grid>
            <ion-row>
                <ion-col size="1" (click)="backToHomeScreen()" matRipple>
                    <img src="../../../assets/icon/arrow_back.svg" alt="">
                </ion-col>
                <ion-col size="11">
                    <div *ngIf="currentWalletObject" class="Roboto-Medium" id="title">&nbsp;&nbsp; {{currentWalletObject.wallet_name}}</div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    
    <div style="height: 1em;"></div>

    <div *ngIf="ethereumObject && etherDisplayPrice && usdDisplayPrice">
        <ion-item button lines="none">
            <ion-avatar slot="start">
              <img src="../../../../assets/icon/eth.svg">
            </ion-avatar>
            <ion-label text-wrap>
              <ion-text>
                <h3>Ethereum</h3>
              </ion-text>
              <p>{{etherDisplayPrice}}</p>
            </ion-label>
            <ion-label text-wrap slot="end" style="text-align: right;">
                <ion-text color="primary">
                  <h3>{{usdDisplayPrice}}</h3>
                </ion-text>
                <ion-text color="primary">
                  <p>You own {{ethereumObject.walletBalance}} ETH</p>
                </ion-text>
              </ion-label>
        </ion-item>
    </div>
</ion-content>
