<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="etherWallet">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Wallet</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="etherTrade">
      <ion-icon name="sync"></ion-icon>
      <ion-label>Trade</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="etherBuy">
      <ion-icon name="logo-usd"></ion-icon>
      <ion-label>Buy</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="etherOptions">
      <ion-icon name="options"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>