<ion-content padding>

    <div>
        <ion-grid>
            <ion-row>
                <ion-col size="1" (click)="backToHomeScreen()" matRipple>
                    <img src="../../../assets/icon/arrow_back.svg" alt="">
                </ion-col>
                <ion-col size="11">
                    <div class="Roboto-Medium" id="title">&nbsp;&nbsp; Create a new wallet</div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div style="height: 2.5em;"></div>

    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="formFieldWrapper">
                    <mat-form-field class="Roboto-Light" hintLabel="Max 25 characters">
                        <input class="Roboto-Light" matInput #input maxlength="25" placeholder="Enter wallet name" [(ngModel)]="walletName">
                        <mat-hint class="Roboto-Light" align="end">{{input.value?.length || 0}}/25</mat-hint>
                    </mat-form-field>
                </div>
            </ion-col>
        </ion-row>

        <ion-row style="height: 2em;">
            <ion-col size="12"></ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div class="radioWrapperWrap">
                    <label class="Roboto-Light" id="radio-group-label">Select wallet type:</label>
                    <div class="radioWrapper">    
                        <mat-radio-group aria-labelledby="radio-group-label" class="radioGroup1" [(ngModel)]="selectedType">
                                <mat-radio-button *ngFor="let type of walletTypes" [value]="type" class="radioButtons Roboto-Light">
                                    {{ type }}
                                </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </ion-col>
        </ion-row>

        <ion-row style="height: 1em;">
            <ion-col size="12"></ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <div class="cardPreviewWrapperWrap">
                    <div class="cardPreviewWrapper">
                        <div id="card" [ngStyle]="{'background-image': selectedType == 'Ethereum' ? 'url(../../../assets/images/cards/ethereum_card_background.svg)' : 'url(../../../assets/images/cards/bitcoin_card_background.svg)'}">
                            <div class="slideInnerWrapper">
                              <ion-grid style="height: 100%; padding: 0;">
                                <ion-row style="height: 100%;">
                                  <ion-col style="height: 100%; padding: 0;" size="11">
                                  <div id="card_text_title" *ngIf="!walletName">
                                    ...
                                  </div>
                                  <div id="card_text_title">
                                    {{ walletName }}
                                  </div>
                                  <div style="height: 1.5em;"></div>
                                  <div id="usdPrice">
                                    $ 0.00
                                  </div>
                                  <div id="ethPrice">
                                    &#926; 0
                                  </div>
                                  </ion-col>
                                  <ion-col style="height: 100%; padding: 0;" size="1">
                                    <div class="wallet_second_column">
                                      <img id="wallet_arrow" src="../../../assets/icon/wallet_arrow_icon.svg">
                                    </div>
                                  </ion-col>
                                </ion-row>
                              </ion-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>

    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div style="height: 6em;"></div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <div class="middle_button" *ngIf="!walletName">
                    <img src="../../../assets/icon/create_wallet_disabled.svg" alt="">
                </div>
                <div class="middle_button" *ngIf="walletName" (click)="addWalletToStorage()">
                    <img src="../../../assets/icon/create_wallet.svg" alt="">
                </div>
                <div class="Roboto-Regular agreementSubtext">
                    By clicking the button above, you agree to the Terms and Conditions and Privacy Policy
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    
</ion-content>