<ion-content padding>

    <div id="notch"></div>
    <div class="title_grid">
        <ion-grid>
            <ion-row>
                <ion-col size="1" (click)="backToHomeScreen()" matRipple>
                    <img src="../../../assets/icon/arrow_back.svg" alt="">
                </ion-col>
                <ion-col size="11">
                    <div class="SF-Pro-Display-Semibold" id="title">&nbsp;&nbsp; Create a new wallet</div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div style="height: 2em;"></div>

    <div class="inputWrapper">
        <div class="inputFormField">
            <mat-form-field hintLabel="Max 25 characters">
                <input matInput #input maxlength="25" placeholder="Enter wallet name" [(ngModel)]="walletName">
                <mat-hint align="end">{{input.value?.length || 0}}/25</mat-hint>
            </mat-form-field>
        </div>

        <div style="height: 2em;"></div>

        <label id="radio-group-label">Select the wallet's currency:</label>
        <mat-radio-group aria-labelledby="radio-group-label" class="radioGroup1" [(ngModel)]="selectedType">
            <mat-radio-button *ngFor="let type of walletTypes" [value]="type" class="radioButtons">
                {{ type }}
            </mat-radio-button>
        </mat-radio-group>

        <div style="height: 3em"></div>

        <div class="checkboxWrapper">
            <ion-grid style="padding: 0;">
                <ion-row>
                    <ion-col size="1">
                    <ion-checkbox [(ngModel)]="TOS1"></ion-checkbox>
                    </ion-col>
                    <ion-col size="11">
                    <div class="subtext">
                        I understand that I must back up my private keys after creating the wallet
                    </div>
                    </ion-col>
                </ion-row>
            
                <ion-row>
                    <ion-col size="1">
                    <ion-checkbox [(ngModel)]="TOS3"></ion-checkbox>
                    </ion-col>
                    <ion-col size="11">
                    <div class="subtext">
                        I have thoroughly read, and have agreed to the Terms & Conditions and Privacy Policy
                    </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>

    <div class="addWalletWrapper">
        <div class="add_wallet" *ngIf="!TOS1 || !TOS3 || !selectedType || !walletName.length >= 1">
            <img src="../../../assets/icon/add-wallet-disabled.svg" alt="">
        </div>

        <div class="add_wallet" *ngIf="TOS1 && TOS3 && selectedType && walletName.length >= 1">
            <img src="../../../assets/icon/add_wallet_button.svg" alt="">
        </div>
    </div>
</ion-content>
