ion-content {
    --overflow: hidden;
}

#title {
    font-size: 1.7em;
    height: 100%;  
    color: #263238;
}

.add_wallet {
    display: flex;
    justify-content: center; /* align horizontal to the end, use 'center' for middle placement */
    align-items: center;
    height: 100%;
    transition: all .05s ease-in;
    outline: 0; /* Removes orange border around div during pressdown */
}

.add_wallet:active {
    /* font-size: 1rem; */
    transform: scale(.85);
    /* box-shadow: 0 3px 15px -2px; */
    outline: 0; /* Removes orange border around div during pressdown */
}

.formFieldWrapper {
    display: flex;
    flex-direction: column;
}

.formFieldWrapper > * {
    width: 100%;
}

.radioGroup1 {
    display: flex;
    flex-direction: row; // Change to column for vertical radio buttons
}

.radioButtons {
    margin: 1em;
}

.radioWrapperWrap { // Div around the radioWrapper - keep for horizontally centering the divider inside this divider
    text-align: center;
}

.radioWrapper { // Div inside the Wrap, keep for centering
    display: inline-block;
}

.cardPreviewWrapperWrap {
    text-align: center;
}

.cardPreviewWrapper {
    display: inline-block;
}

#card {
    height: 9em;
    width: 15em;
    min-height: 100%;
    border-radius: 15.5px;
    background-color: #263238;
    transition: all .05s ease-in;
    background-size: cover;
}

#card:active {
    /* font-size: 1rem; */
    transform: scale(.85);
    /* box-shadow: 0 3px 15px -2px; */
}   

.slideInnerWrapper {
    height: 100%;
    width: 100%;
    padding: 0.5em;
}

.wallet_second_column {
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}

#wallet_arrow {
    height: 1.2em;
    transition: all .05s ease-in;
}

#wallet_arrow:active {
    transform: scale(.85);
}

#card_text_title {
    font-family: Roboto-Medium;
    font-size: 0.85em;
    color: white;
    text-align: start;
    margin: 0.75em;
}

#usdPrice {
    font-family: Roboto-Medium;
    font-size: 0.85em;
    color: white;
    text-align: start;
    margin: 0.75em;
}

#ethPrice {
    font-family: Roboto-Medium;
    font-size: 0.8em;
    color: white;
    text-align: start;
    margin: 0.75em;
}

.middle_button {
    display: flex;
    justify-content: center; /* align horizontal to the end, use 'center' for middle placement */
    align-items: center;
    height: 30%;
    transition: all .05s ease-in;
    outline: 0; /* Removes orange border around div during pressdown */
}

.middle_button:active {
    /* font-size: 1rem; */
    transform: scale(.85);
    /* box-shadow: 0 3px 15px -2px; */
    outline: 0; /* Removes orange border around div during pressdown */
}

.agreementSubtext {
    text-align: center;
    color: #898989;
    margin: 2em;
    font-size: 0.75em;
}