<ion-content padding>

    <div>
        <ion-grid>
            <ion-row>
                <ion-col size="1" (click)="backToHomeScreen()" matRipple>
                    <img src="../../../assets/icon/arrow_back.svg" alt="">
                </ion-col>
                <ion-col size="11">
                    <div class="Roboto-Medium" id="title">&nbsp;&nbsp; How we're built</div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div style="height: 3.5em;"></div>

    <div class="Roboto-Medium animated fadeInLeft" id="subtext1">
      We built Ready Wallet to be easy to use and efficient. Here's how we did it:
    </div>

    <div style="height: 1.5em;"></div>
    <div id="builtGroup1">
      <img class="animated fadeInLeft delay-1s" src="../../../assets/images/builtGroup/builtGroup1.svg" alt="">
    </div>

    <div style="height: 3.5em;"></div>

    <div class="Roboto-Medium animated fadeInLeft" id="subtext1">
        Oh and we also source all our data from the best in analytics:
    </div>

    <div style="height: 1.5em;"></div>
    <div>
      <img class="animated fadeInLeft delay-1s" src="../../../assets/images/builtGroup/builtGroup2.svg" alt="">
    </div>
</ion-content>
